:root {
    --color-primary: #235ad1;
    --color-secondary: #95A1BB;
    --color-background: #F9FAFC;
    --color-title: #363940;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Rubik', sans-serif;
    height: 100%;
}

body {
    height: 100%;
    font-size: 16px;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: inherit;
    font-size: 12px;
    color: #fff;
}

img {
    display: block;
}

/*h1, h2*/
h1 {
    font-weight: 500;
    color: var(--color-title);

    @media screen and (min-width: 320px) {
        font-size: 52px;
        max-width: 345px;
    }
    @media screen and (min-width: 768px) {
        font-size: 58px;
        max-width: 100%;
    }
    @media screen and (min-width: 1140px) {
        font-size: 58px;
        max-width: 460px;
    }
}

h2 {
    font-size: 32px;
    color: var(--color-title);
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    min-width: 320px;
    width: 100%;

    @media screen and (min-width: 320px) {
        padding: 0 5px;
    }
    @media screen and (min-width: 768px) {
        padding: 0 15px;
    }

    @media screen and (min-width: 1440px) {
        padding: 0 15px;
    }
}

.header {
    background: var(--color-primary);
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 76px;
}

.header__links {
    @media screen and (min-width: 320px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        gap: 25px;
    }
}

.header__link {
    text-transform: uppercase;
    transition: opacity .3s;

    &:hover {
        opacity: .8;
    }
}

/*burger-menu*/
.burger {
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 20px;

    @media screen and (min-width: 320px) {
        display: flex;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.burger__line {
    height: 3px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
}

/*button*/
.button {
    display: inline-block;
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
    padding: 15px 25px;
    color: #fff;
    border-radius: 5px;
    font-family: inherit;
    font-size: 14px;
    cursor: pointer;
    transition: background-color .3s;
    text-transform: uppercase;

    &:hover {
        background: rgba(35, 90, 209, 90%);
    }
}

.button__main {
    margin-top: 40px;
}

.button__table {
    padding: 8px 40px;
}

.button__table_noActive {
    background: transparent;
    color: var(--color-primary);

    &:hover {
        color: #fff;
    }
}

/*main*/
.main__container {
    @media screen and (min-width: 320px) {
        display: flex;
        flex-direction: column;
        gap: 80px;
        padding-top: 30px;
    }
    @media screen and (min-width: 1140px) {
        flex-direction: row;
        padding-top: 100px;
    }
}

.main__left {
    align-self: center;
}

.main__text {
    color: var(--color-secondary);
    margin-top: 30px;
    max-width: 380px;
}

.main__image {
    @media screen and (min-width: 320px) {
        max-width: 345px;
        width: 100%;
    }
    @media screen and (min-width: 768px) {
        max-width: 656px;
    }
}

/*table section*/
.table {
    background: var(--color-background);
    padding: 50px 0;
}

.table__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table__text {
    color: var(--color-secondary);
    margin-top: 20px;
}

.table__block {
    margin-top: 40px;
}

/*registration*/
.registration__container{
    display: flex;
    padding: 100px 0;
    gap: 160px;
    justify-content: space-between;
}

.registration__left {
    display: flex;
    flex-direction: column;
    gap: 45px;
    flex: 1 1 calc(500 / 1140 * 100%);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
}

.input, .textarea {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid var(--color-secondary);
    outline: none;

    &::placeholder {
        color: var(--color-secondary);
    }
}

.input__small {
    flex: 1 1 40%;
}

.registration__inputBox{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

label {
    margin-right: 30px;
    margin-left: 5px;
}

fieldset {
    padding: 20px 15px;
    border-radius: 10px;
    border: 1px solid var(--color-secondary);
    /*display: flex;*/
    /*gap: 10px;*/
}

legend {
    color: var(--color-secondary);
    padding: 0 10px;
}

.checkbox {
    margin-right: 5px;
}

.radio {

}

.textarea {
    resize: none;
    width: 100%;
    height: 80px;
}

select {
    width: 100%;
    outline: none;
    border: none;
    color: var(--color-secondary);
}

/*footer*/
.footer {
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    color: #fff;
}